<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../img/icons8-programmer-78.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img src="../img/icons8-casa-48.png" alt="icono casa"></a>
        </nav>
    </header>
    <h1>ABOUT</h1>
    <section class="about">
        <div class="container-About">

        
            <div class="imagen-about">
                <img src="../img/hacker con telefono recortada.jpg" alt="silueta de hacker encapuchado"> 
            </div>
            <p>Mi nombre es Marcelo Núñez soy Técnico superior en Despacho Aduanero y actualmente me encuentro estudiando la carrera de desarrollador full stack en CODERHOUSE</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat eaque consequuntur voluptate, ipsum quae distinctio quibusdam totam et ea molestias soluta nam reiciendis reprehenderit temporibus. Iusto quisquam asperiores odit distinctio.</p>
        </div>
    </section>
   
   
</body>
</html>