<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../img/icons8-programmer-78.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <a href="../index.html">home</a>
    </nav>
    <div class="algunos-trabajos">
        <h1>ALGUNOS TRABAJOS</h1>
        <div class="container-carta">
            <div class="carta">
                <img src="../img/gimnasio.jpg" alt="gimnasio">
                <div class="contenido">
                    <h3>GYM</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque enim accusantium culpa recusandae assumenda.</p>
                    <a href="#">VER</a>
                </div>
            </div>
            <div class="carta">
                <img src="../img/padel logo 2 (1) (1).jpg" alt="logo cancha de padel">
                <div class="contenido">
                    <h3>La Plaza Padel</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque enim accusantium culpa recusandae assumenda.</p>
                    <a href="#">VER</a>
                </div>
            </div>
            <div class="carta">
                <img src="../img/ableton.jpg" alt="tutoriales de ableton">
                <div class="contenido">
                    <h3>Ableton tutoriales</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cumque enim accusantium culpa recusandae assumenda.</p>
                    <button>Ver</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>