<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../img/icons8-programmer-78.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../index.html">home</a>
    </nav>
    <main>
        <h1>CONTACTO</h1>

        <img src="../img/linkedin-COLOR-48.png" alt="logo linkedin">
        <img src="../img/icons8-componer-correo-48.png" alt="icono mail">
        <img src="../img/whatsapp-48.png" alt="icono whatsapp">
        <img src="../img/instagram-48.png" alt="icono instagram">
        <img src="../img/facebook-48.png" alt="icono facebook">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.3337304864076!2d-58.843107885918776!3d-34.49442268048778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9bc4b1ae734f%3A0xa434ff1be8c658a0!2sDomingo%20Faustino%20Sarmiento%201337%2C%20B1635APA%20Pres.%20Derqui%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1675799461161!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>
</body>
</html>