<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../img/icons8-programmer-78.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../index.html">home</a>
    </nav>
    <main>
        <img src="../img/icons8-diseño-48.png" alt="icono diseño lapiz y regla">
        <h2>DISEÑO</h2>
        <img src="../img/icons8-diseño-web-filled-48.png" alt="icono web">
        <h2>DESARROLLO WEB</h2>
        <img src="../img/icons8-smartphone-48.png" alt="icono smartphone full responsive">
        <h2>FULL RESPONSIVE</h2>
        <img src="../img/icons8-facebook-like-skin-type-1-48.png" alt="me gusta like button de redes sociales">
        <h2>INTEGRACION A REDES SOCIALES</h2>
    </main>
</body>
</html>