.main-contacto{
    @extend %dflexcolumn;
    .h1-contacto{
        @extend %dflexcolumn;
        align-items: center;

    }
}

.iframe-contacto {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 5%;
}

.redes-contacto {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}